
.topo-header {
  display: flex;
  background-color: #3877c9;
  width: 100%;
  height: 2.125rem;
  color: #fff;
  align-items: center;
}

.tittle-header {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  width: 60%;
}

.brasil-yellow {
  color: #faff00;
}

.tittle-header-2 {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  margin: 1rem;
  font-size: 0.9rem;
}

.topo-header-2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #313131;
  height: 3.5625rem;
  align-items: center;
}

.localizacao {
  color: #a0a0a0;
  font-size: 0.8rem;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-left: 3rem;
}

.localizacao a {
  color: #a0a0a0;
}

.localizacao img {
  margin-right: 0.5rem;
}

.logo {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #074291;
  font-family: 'Lobster', cursive;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 15px;
}

.container-carrinho-login {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 1.5rem;
}

.carrinho {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 4rem;
}

.carrinho .topo-carrinho {
  display: flex;
  justify-content: center;
}

.carrinho .rodape-carrinho {
  display: flex;
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 4rem;
}

.login .topo-login {
  display: flex;
  justify-content: center;
}

.login .rodape-login {
  display: flex;
  justify-content: center;
}

.header-navegation {
  width: 100%;
  background-color: #313131;
}

.header-menu {
  display: flex;
  justify-content: space-evenly;
  height: 3rem;
  align-items: center;
  border: 0.0625rem solid;
  font-size: 1.1rem;
  font-weight: 600;
}

a {
  color: #fff;
}

.header-menu a:hover {
  color: #074291;
  transition: 0.3s ease-in-out;
}
